$dark: #292929;
$light: #efefef;
$red: #D91E18;
$green: #2ECC71;
$blue: #92bbfc;
$small: 40em;

.corregir {
  margin-right: 5%;
}

#preguntas{
    text-align: left;
}

#infopro {
  border: 2px solid #99AD00;
  margin: 0 auto;
  padding: 15px 15px;
  text-align: left;
  max-width: 1100px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.disabledButton {
  opacity: 0.5;
  cursor: default;
}

.loading {
position: fixed;
margin-top: 10%;
}


.espacio {
  margin: 25px;
}

.transparente {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

//Estilos para los botones de las preguntas para responder
@media (max-width: 574px) {
  .onoffswitch {
    margin-top: 3%;
    margin-left: 39%;
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "SI";
  padding-left: 23px;
  background-color: #5cb85c;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "NO";
  padding-right: 23px;
  background-color: #e5593d;
  color: #FFFFFF;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.onoffswitch-inner-inactivo {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner-inactivo:before, .onoffswitch-inner-inactivo:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner-inactivo:before {
  content: "SI";
  padding-left: 23px;
  background-color: #5cb85c;
  color: #FFFFFF;
}

.onoffswitch-inner-inactivo:after {
  content: "";
  padding-right: 23px;
  background-color: #fffec9;
}

.onoffswitch-switch-inactivo {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 30px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner-inactivo {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch-inactivo {
  right: 0px;
}

.finalizar {
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
  transition-duration: 0.1s !important;
}

.finalizar:hover {
  background-color: #428442 !important;
}

.inicio {
  background-color: #337ab7 !important;
  border-color: #2e6da4 !important;
  transition-duration: 0.1s !important;
}

.inicio:hover {
  background-color: #1e4c75 !important;
}
